*.tfvars
.terraform
gha-creds-*.json
/.env
/.git
/application_default_credentials.json
/catalyst-ui-kit
/configdb
/db
/dist
/mongot
/node_modules
/public/embed.js
/public/index.css
/public/index.js
/public/service-worker.js
